body {
  background-image: url(../assets/watercolor-design-pastel-bkg.jpg);
  /* Background image taken from Freepik. Design credited to Freepik. 
  Full URL: https://www.freepik.com/free-vector/watercolor-design-pastel-background_7335470.htm */
  background-position: center;
  font-family: 'Oxygen', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
