h1 {
    font-family: 'Bebas Neue', cursive;
}

#portrait {
    width: 300px;
    height: 300px;
    margin-right: 1rem;
}

@media screen and (max-width: 360px) {
    #portrait {
        height: 200px;
        width: 200px;
    }
}