footer {
    text-align: center;
    background-color: #d5c1de;
    position: relative;
}

.credit {
    font-size: 10px;
    font-weight: lighter;
    color: #000000;
    position: absolute;
    top: 0rem;
    right: 1.5rem;
}

.credit:hover,
.credit:active,
.credit:visited
{
    text-decoration: none;
    color: #15314a;
}